.dashboard__general__people__left,
.dashboard__general__people__right,
.nationality__county,
.nationality__religions,
.psychotypes,
.actions__conversion,
.actions__activity,
.most_active_segment,
.connects,
.dynamics__wrapper {
  background: var(--color-white);
  padding: 20px;
  border-radius: 40px;

  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.09);
}

.dashboard__general {
  margin-top: 20px;
}

.dashboard__general__app {
  margin-top: 20px;

  display: flex;
  justify-content: start;
  align-items: start;

  gap: 20px;
}

.dashboard__general__app__main {
  background: var(--color-violet);
  color: var(--color-white);

  width: 370px;

  padding: 30px;
  border-radius: 20px;

  ul {
    display: flex;
    flex-wrap: wrap;
    gap: 20px 10px;
    margin-top: 20px;

    li {
      width: 150px;

      div {
        width: fit-content;
      }

      h4 {
        font-size: 12px;
        background: var(--color-white);
        padding: 5.008px 10px;
        border-radius: 3.008px;
        color: var(--color-violet);
      }

      p {
        font-size: 10px;
        margin-top: 5.008px;
      }
    }
  }
}

.dashboard__general__app {
  position: relative;
}

.dashboard__general__app__graph {
  position: absolute;
  left: 63%;
}

.dashboard__general__app__statistics {
  width: 370px;
  display: flex;
  flex-wrap: wrap;
  gap: 10px;

  li {
    width: 170px;
    height: 103.008px;

    background: var(--color-white);
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.09);
    border-radius: 20px;
    padding: 10px;

    p {
      font-size: 12px;
    }

    .dashboard__general__app__statistics__item__title {
      display: flex;
      align-items: center;

      gap: 5.008px;

      div {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        width: 28px;
        height: 28px;

        border-radius: 50%;
      }
    }

    &:nth-child(1) {
      .dashboard__general__app__statistics__item__title {
        div {
          background: rgba(10, 132, 255, 0.15);
        }
      }
    }

    &:nth-child(2) {
      .dashboard__general__app__statistics__item__title {
        div {
          background: rgba(255, 158, 67, 0.15);
        }
      }
    }

    &:nth-child(3) {
      .dashboard__general__app__statistics__item__title {
        div {
          background: rgba(255, 214, 67, 0.15);
        }
      }
    }

    &:nth-child(4) {
      .dashboard__general__app__statistics__item__title {
        div {
          background: rgba(114, 103, 240, 0.15);
        }
      }
    }
  }
}

.dashboard__general__app__statistics__item__statistics {
  margin-left: 35.008px;

  div {
    display: flex;
    justify-content: space-between;
    margin-top: 10px;

    p {
      &:last-child {
        color: var(--color-green);
      }

      span {
        font-weight: 700;
      }
    }

    &:last-child {
      opacity: 0.6;
    }
  }
}

.dashboard__general__people {
  margin-top: 40px;
  display: flex;
  gap: 10px;
}

.dashboard__general__people__right {
  display: flex;
  justify-content: space-between;
}

.dashboard__general__people__right {
  width: 100%;
}

.dashboard__general__people__gender {
  display: flex;
  gap: 10px;
}

.dashboard__general__people__gender__left {
  display: flex;
  flex-direction: column;
  margin-right: 20px;

  ul {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-left: 11.008px;
    margin-top: 10px;

    li {
      color: #2d3645;
      position: relative;

      &::before {
        content: "";
        position: absolute;

        left: -15%;
        top: 30%;

        width: 5.008px;
        height: 5.008px;
        border-radius: 50%;
      }

      &:nth-child(1) {
        &::before {
          background: #28c76f;
        }
      }

      &:nth-child(2) {
        &::before {
          background: #7367f0;
        }
      }

      &:nth-child(3) {
        &::before {
          background: #28dac6;
        }
      }
    }
  }
}

.dashboard__general__graph {
  background: var(--color-white);
  border-radius: 50%;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.09);
}

.dashboard__general__people__gender__right {
  display: flex;
  gap: 10px;
}

.dashboard__general__people__device {
  display: flex;
  align-items: center;
  gap: 20px;
}

.dashboard__general__people__device__info {
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 280px;

  ul {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;

    li {
      padding-left: 10px;
      position: relative;

      &::before {
        content: "";
        position: absolute;

        left: -2%;
        top: 30%;

        width: 8.008px;
        height: 8.008px;
        border-radius: 50%;
        background: #ff9f43;
      }

      &:nth-child(1) {
        &::before {
          opacity: 1;
        }
      }

      &:nth-child(2) {
        &::before {
          opacity: 0.8;
        }
      }

      &:nth-child(3) {
        &::before {
          opacity: 0.6;
        }
      }

      &:nth-child(4) {
        &::before {
          opacity: 0.5;
        }
      }
    }
  }
}

.dashboard__general__people__age {
  display: flex;
  flex-direction: column;
  gap: 20px;

  ul {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }

  li {
    font-size: 16px;
    display: flex;
    align-items: center;
    gap: 30px;
    position: relative;
    padding-left: 10px;

    p {
      width: 80px;
      color: #2d3645;
    }

    span {
      opacity: 0.5;
      font-size: 12px;
    }

    &::before {
      content: "";
      position: absolute;

      left: 0px;
      top: 30%;

      width: 5.008px;
      height: 5.008px;
      border-radius: 50%;
    }

    &:nth-child(1) {
      &::before {
        background: #7367f0;
      }
    }

    &:nth-child(2) {
      &::before {
        background: #ffd643;
      }
    }

    &:nth-child(3) {
      &::before {
        background: #4f5d70;
      }
    }

    &:nth-child(4) {
      &::before {
        background: #0a84ff;
      }
    }

    &:nth-child(5) {
      &::before {
        background: #28dac6;
      }
    }
  }
}

.dashboard__general__people__age__top {
  display: flex;
  flex-direction: column;
  gap: 10px;

  p {
    font-size: 14px;
    opacity: 0.6;

    span {
      font-weight: 700;
    }
  }
}

.dashboard__general__people__right {
  display: flex;
}

// nationality

.nationality {
  display: flex;
  justify-content: space-between;
  margin-top: 40px;
  gap: 20px;
}

.nationality__religions,
.nationality__county {
  width: 44vw;
}

.psychotypes__item__name {
  display: flex;
  align-items: center;
  font-size: 12px;

  width: 100%;

  div {
    display: flex;
    align-items: center;
    justify-content: space-between;

    width: 100%;

    div {
      display: flex;
      align-items: center;
      justify-content: end;
      gap: 2px;

      span {
        &:last-child {
          opacity: 0.6;
        }
      }
    }
  }
}

// psychotypes_and_events

.psychotypes_and_events {
  margin-top: 40px;
}

.psychotypes {
  width: 400px;
}

.psychotypes__top__graphick {
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin-top: 20px;
}

.psychotypes__top__graphick__line {
  position: absolute;
  top: 5.008px;
  left: 5.008px;

  width: 100%;
  height: 10px;

  background-color: #f1f1f1;
  border-radius: 5.008px;
}

.psychotypes__top {
  p {
    opacity: 0.6;
    font-size: 16px;
    margin-top: 5.008px;
  }
}

// nationality

.nationality {
  display: flex;
  justify-content: space-between;
  margin-top: 40px;
  gap: 20px;
}

.psychotypes__item__name {
  display: flex;
  align-items: center;
  font-size: 12px;

  width: 100%;

  div {
    display: flex;
    align-items: center;
    justify-content: space-between;

    width: 100%;

    span {
      display: flex;
      align-items: center;
      gap: 10px;
    }
  }
}

// psychotypes_and_events

.psychotypes_and_events {
  margin-top: 40px;
}

.psychotypes {
  width: 400px;
}

.psychotypes__top__graphick {
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin-top: 20px;
}

.psychotypes__top__graphick__line {
  position: absolute;
  top: 5.008px;
  left: 5.008px;

  width: 100%;
  height: 10px;

  background-color: #f1f1f1;
  border-radius: 5.008px;
}

.psychotypes__top {
  p {
    opacity: 0.6;
    font-size: 16px;
    margin-top: 5.008px;
  }
}

// popular_content

.popular_content {
  margin-top: 40px;

  padding: 10px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.09);
  border-radius: 30px;
  background: var(--color-white);
}

.popular_content__list {
  padding: 20px;
  background: var(--color-white);
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.09);
  border-radius: 30px;
  border: 1.008px solid #efefef;

  ul {
    display: flex;
    flex-direction: column;
    gap: 20px;

    li {
      display: flex;
      justify-content: space-between;
      align-items: center;
      gap: 30px;
      cursor: pointer;
      transition: all 0.4s ease;
      padding: 20px 5.008px;

      &:hover {
        background: rgba(219, 219, 219, 0.3);
        border-radius: 20px;
      }

      p {
        font-size: 14px;
      }

      .popular_content__item__name {
        display: flex;
        align-items: center;
        gap: 10px;
        width: 200px;

        h3 {
          font-size: 14px;
        }

        p {
          font-size: 12px;
        }

        img {
          border-radius: 50%;
        }

        p {
          opacity: 0.4;
        }
      }

      .popular_content__views {
        display: flex;
        align-items: center;
        gap: 10px;

        .popular_content__views__count {
          display: flex;
          flex-direction: column;

          p {
            font-weight: 700;
            font-size: 12px;
          }

          span {
            font-size: 12px;
            opacity: 0.5;
            text-align: right;
          }
        }
      }

      .popular_content__bookings {
        display: flex;
        align-items: center;

        gap: 10px;

        .popular_content__bookings__count {
          display: flex;
          flex-direction: column;

          p {
            font-size: 12px;
            font-weight: 700;
          }

          span {
            font-size: 12px;
            opacity: 0.5;
            text-align: right;
          }
        }
      }

      .popular_content__visits {
        display: flex;
        align-items: center;

        .popular_content__visits__count {
          display: flex;
          flex-direction: column;

          p {
            font-size: 12px;
            font-weight: 700;
          }

          span {
            font-size: 12px;
            opacity: 0.5;
            text-align: right;
          }
        }
      }

      .popular_content__active {
        display: flex;

        .popular_content__active__name {
          display: flex;
          flex-direction: column;
          width: 205.008px;

          p {
            font-size: 12px;
            font-weight: 700;
            opacity: 0.5;
          }

          div {
            display: flex;
            align-items: center;
            margin-top: 5.008px;
            gap: 5.008px;

            p {
              opacity: 1;
            }
          }
        }

        .popular_content__active__count {
          display: flex;
          flex-direction: column;

          p {
            font-size: 12px;
            font-weight: 700;
          }

          span {
            opacity: 0.5;
            font-size: 12px;
            text-align: right;
          }
        }
      }

      .popular_content__active__interests {
        p {
          font-size: 12px;

          &:last-child {
            font-size: 10px;
            line-height: 120%;
            opacity: 0.5;
          }
        }
      }
    }
  }
}

.popular_content__buttons {
  display: flex;
  gap: 20px;
  margin-left: 60px;
  margin-top: 20px;

  li {
    button {
      background: none;
      padding: 10px;
      opacity: 0.5;
    }

    background: var(--color-white);
  }
}

.popular_content__button__active {
  border: 1.008px solid #efefef;
  border-bottom: 0;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  opacity: 1 !important;
}

.popular_content {
  h2 {
    padding-top: 10px;
    padding-left: 10px;
  }
}

.psychotypes_and_events {
  display: flex;
  gap: 20px;
}

.events {
  width: 100%;

  display: flex;
  flex-direction: column;
  gap: 20px;

  padding: 20px;
  background: var(--color-white);
  border-radius: 40px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.09);

  h3 {
    font-weight: 400;
  }

  .events__categorys {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
  }

  .events__categorys li {
    position: absolute;
    font-size: 24px;
    text-align: center;

    @media (max-width: 1600px) {
      font-size: 16px;
    }
  }

  .events__categorys li:nth-child(1) {
    left: 21%;
    transform: translateX(-50%);

    @media (max-width: 1600px) {
      left: 24%;
    }
  }

  .events__categorys li:nth-child(2) {
    right: 22%;
    transform: translateX(50%);

    @media (max-width: 1600px) {
      right: 25%;
    }
  }

  .events__types {
    display: flex;
    align-items: center;
    gap: 10px;

    li {
      position: relative;
      font-size: 14px;

      &::before {
        content: "";
        position: absolute;

        left: 0;
        top: 30%;

        width: 8px;
        height: 8px;
        border-radius: 50%;
      }

      &:first-child {
        font-weight: 700;
        font-size: 14px;
      }

      &:not(:first-child) {
        padding-left: 15.008px;
      }

      &:nth-child(2) {
        &::before {
          background: #7367f0;
        }
      }

      &:nth-child(3) {
        &::before {
          background: #0a84ff;
        }
      }

      &:nth-child(4) {
        &::before {
          background: #ff9f43;
        }
      }

      &:nth-child(5) {
        &::before {
          background: #ffd643;
        }
      }

      &:nth-child(6) {
        &::before {
          background: #28dac6;
        }
      }
    }
  }
}

// actions

.actions {
  margin-top: 40px;
  width: 100%;
}

.actions__conversion__rate {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;

  // margin-left: -40px;
  width: 100%;

  h3 {
    text-align: center;
    font-weight: 400;
    font-size: 24px;
  }
}

.actions__conversion {
  display: flex;
  justify-content: space-between;
  gap: 20px;
  margin-top: 30px;
}

.actions__conversion__line {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.actions__conversion__categoryes {
  ul {
    display: flex;

    li {
      width: 225.008px;
      padding: 0px 40px;
      position: relative;

      &:not(:first-child) {
        border-left: 1.008px solid rgba(0, 0, 0, 0.3);
        border-right: 1.008px solid rgba(0, 0, 0, 0.3);
      }

      &:last-child {
        border-left: none;
        border-right: none;
      }

      &::before {
        content: "VS";
        position: absolute;

        left: 91.5%;
        top: 20%;

        display: flex;
        flex-direction: column;

        justify-content: center;
        align-items: center;

        font-size: 10px;

        width: 40px;
        height: 40px;

        background: rgb(232, 231, 249);
        border-radius: 50%;
        border: 5.008px solid #fff;

        z-index: 1;
      }

      &:last-child {
        &::before {
          display: none;
        }
      }

      .actions__conversion__name {
        display: flex;
        align-items: center;
        gap: 5px;

        .actions__conversion__icon {
          width: 30px;
          height: 30px;
          border-radius: 50%;

          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;
        }

        p {
          font-size: 12px;
        }
      }

      &:nth-child(1) {
        .actions__conversion__name {
          .actions__conversion__icon {
            background: rgba(255, 158, 67, 0.16);
          }
        }
      }

      &:nth-child(2) {
        .actions__conversion__name {
          .actions__conversion__icon {
            background: rgba(10, 132, 255, 0.16);
          }
        }
      }

      &:nth-child(3) {
        .actions__conversion__name {
          .actions__conversion__icon {
            background: rgba(255, 214, 67, 0.16);
          }
        }
      }

      &:nth-child(4) {
        .actions__conversion__name {
          .actions__conversion__icon {
            background: rgba(114, 103, 240, 0.16);
          }
        }
      }

      .actions__conversion__zifrs {
        font-size: 12px;
        margin-left: 15.008px;
        margin-top: 5.008px;

        span {
          opacity: 0.6;
        }
      }
    }
  }
}

.actions__activity__top {
  display: flex;
  justify-content: space-between;

  ul {
    display: flex;
    gap: 30px;

    li {
      display: flex;
      gap: 10px;
      font-size: 12px;

      input {
        margin-bottom: 15px;
      }

      label {
        text-align: center;
      }

      span {
        font-size: 10px;
        opacity: 0.5;
        margin-left: 10px;
        position: relative;

        &::before {
          content: "";
          position: absolute;

          left: -13.008px;
          top: 15%;

          width: 8px;
          height: 8px;

          border-radius: 50%;
        }
      }

      &:nth-child(1) {
        span {
          &::before {
            background: #ffd643;
          }
        }
      }

      &:nth-child(2) {
        span {
          &::before {
            background: #0a84ff;
          }
        }
      }

      &:nth-child(3) {
        span {
          &::before {
            background: #28c76f;
          }
        }
      }

      &:nth-child(4) {
        span {
          &::before {
            background: #7367f0;
          }
        }
      }

      &:nth-child(5) {
        span {
          &::before {
            background: #ff9f43;
          }
        }
      }

      &:nth-child(6) {
        span {
          &::before {
            background: #28dac6;
          }
        }
      }
    }
  }

  button {
    background: none;
  }
}

.actions__activity {
  margin-top: 40px;
}

.actions__activity__top {
  position: relative;
}

.actions__activity__popup {
  position: absolute;
  background: var(--color-white);
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.09);
  border-radius: 20px;
  padding: 20px;

  width: 270px;
  height: 340px;

  left: 73%;
  top: 50%;

  z-index: 99;

  ul {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
    gap: 10px;

    li {
      display: flex;
      flex-direction: column;
      justify-content: start;
      align-items: start;
      gap: 10px;
      width: 100%;

      select {
        width: 100%;
        padding: 10px;
        height: 35.008px;
        border: 1.008px solid rgba(0, 0, 0, 0.2);
        border-radius: 5.008px;
      }
    }
  }

  .actions__activity__popup__link {
    font-size: 12px;
    text-align: right;
    margin-top: 15px;
    margin-bottom: 10px;

    button {
      background: none;
      color: var(--color-black);
      text-decoration: underline;
    }
  }
}

// most_active_segment

.most_active_segment {
  margin-top: 40px;
}

.most_active_segment__top {
  display: flex;
}

.most_active_segment__top > ul {
  display: flex;
  gap: 20px;
  margin-top: 20px;

  li {
    width: 290px;
    ul {
      margin-top: 10px;
      display: flex;
      flex-direction: column;
      gap: 10px;

      li {
        display: flex;
        font-size: 10px;

        p {
          &:first-child {
            width: 80px;
            opacity: 0.6;
          }

          &:last-child {
            width: 200px;
          }
        }
      }
    }
  }
}

.most_active_segment__item__top {
  display: flex;
  align-items: center;
  gap: 10px;
}

// connects

.connects {
  margin-top: 40px;
}

.connects__first {
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 245.008px;

  h3 {
    font-size: 16px;
  }

  p {
    font-size: 14px;
  }
}

.connects__first__items {
  display: flex;
  flex-direction: column;
  gap: 10px;
  li {
    div {
      display: flex;
      align-items: center;
      gap: 10px;

      div {
        border-radius: 50%;
        width: 30px;
        height: 30px;

        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
      }

      p {
        font-weight: 400;
        color: #2d3645;
      }
    }

    &:nth-child(1) {
      div {
        div {
          background: rgba(255, 158, 67, 0.16);
        }
      }
    }

    &:nth-child(2) {
      div {
        div {
          background: rgba(114, 103, 240, 0.16);
        }
      }
    }
  }
}

.connects__first__items > li > p {
  margin-left: 40px;
  font-size: 12px;
  font-weight: 700;
}

.connects__items {
  display: flex;
  justify-content: space-between;
  gap: 40px;
  margin-top: 20px;
}

.connects__second {
  width: 320px;

  h3 {
    font-size: 15.008px;
    font-family: "Unbounded", sans-serif;
    font-weight: 400;
  }
}

.connects__second__graph {
  display: flex;
  align-items: center;
  font-size: 14px;
  margin-top: 10px;
  gap: 10px;

  span {
    font-size: 10px;
    opacity: 0.6;
  }
}

.connects__second__graph__text {
  font-size: 13.008px;

  p {
    font-weight: 700;
  }
}

.connects__third {
  h3 {
    font-size: 15.008px;
    font-family: "Unbounded", sans-serif;
    font-weight: 400;
  }
}

.connects__main {
  display: flex;
  gap: 20px;
  margin-top: 20px;

  ul {
    display: flex;
    flex-direction: column;
    gap: 20px;

    li {
      display: flex;
      gap: 10px;
    }
  }
}

.connects__left {
  display: flex;
  flex-direction: column;
  gap: 5.008px;

  width: 200px;

  font-size: 12px;

  .connects__name {
    display: flex;
    gap: 10px;
  }
}

.connects__left > p {
  opacity: 0.6;
  margin-left: 32px;
}

.connects__zifrs {
  font-size: 14px;

  p {
    font-weight: 700;
  }

  span {
    opacity: 0.5;
    font-size: 12px;
  }
}

.connects__top {
  display: flex;
  align-items: center;
  justify-content: space-between;

  div {
    padding: 5px 10px;
    background: var(--color-violet);
    border-radius: 5px;
    font-size: 12px;
    color: var(--color-white);
  }
}

// dynamics

.dynamics__wrapper {
  margin-top: 30px;
}

.dynamics__session_rate {
  ul {
    display: flex;
    gap: 20px;
    margin-top: 20px;

    li {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      gap: 10px;
    }
  }
}

.dynamics__session_rate__graph {
  padding: 5.008px;
  background: var(--color-white);
  border-radius: 50%;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.09);
}

.dynamics {
  margin-top: 40px;

  h3 {
    font-size: 24px;
  }
}

.dynamics__session_rate > p {
  font-size: 20px;
}

.dynamics__main {
  display: flex;
  justify-content: space-between;
}

.dynamics__item {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.dynamics__item__text {
  display: flex;
  gap: 8px;
  font-size: 12px;
  margin-left: 5px;

  span {
    font-family: "Unbounded-sb", sans-serif;
    font-weight: 600;
  }
}

.dynamics__item__text > p {
  width: 145.008px;
}

.dynamics__item__procents {
  display: flex;
  gap: 5.008px;
}

.dynamics__radar {
  p {
    font-size: 11px;
    line-height: 180%;
  }
}

.dynamics__radar__time {
  font-weight: 700;
}

.dynamics__radar__cnt {
  margin-left: 5px;
  opacity: 0.5;
}
