.psychotypes {
  display: flex;
  gap: 20px;
  margin-top: 20px;
}

.psychotypes__item {
  padding: 15px;

  background: var(--color-white);
  border-radius: 20px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);

  transition: all 0.4s linear;
  cursor: pointer;

  &:hover {
    transform: translateY(-5px);
  }

  h2 {
    font-size: 20px;
    color: #232323;
  }
}

.psychotypes__item__last {
  width: 350px;
}

.psychotypes__item__title {
  padding-bottom: 10px;
  margin-bottom: 10px;
  border-bottom: 1px solid var(--color-gray-secondary);
}

.psychotypes__name {
  display: flex;
  align-items: center;
  gap: 5px;
  width: 200px;

  p {
    line-height: 100%;
    color: #232323;
  }
}

.psychotypes__list__items {
  td:not(:first-child) {
    // padding-left: 20px;
    padding-top: 10px;
  }

  td {
    &:nth-child(3) {
      padding-left: 20px;
    }
  }
}

.psychotypes__list {
  tr {
    th {
      font-size: 10px;
      color: rgba(0, 0, 0, 0.5);


      &:nth-child(3) {
        width: 100px;
        padding-left: 10px;
      }
    }

    button {
      width: 35px;
      height: 35px;

      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;

      background: var(--color-gray-secondary);
      border-radius: 10px;

      transition: all 0.3s ease;
      margin-left: 20px;

      svg {
        color: #a8aaae;
        transition: all 0.3s ease;
      }

      &:hover {
        background: #d2cff8 !important;

        svg {
          color: var(--color-violet) !important;
        }
      }
    }
  }
}

.psychotypes__item__top {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-bottom: 10px;
  margin-bottom: 10px;
  border-bottom: 1px solid var(--color-gray-secondary);

  h2 {
    font-size: 20px;
  }

  p {
    padding: 5px;
    background: var(--color-gray-secondary);
    font-size: 12px;
    border-radius: 10px;
    opacity: 0.6;
    border: 1px solid var(--color-black);
    color: #232323;
  }
}

.psychotypes__item__list {
  display: flex;
  flex-direction: column;
  gap: 0px;
}

.psychotypes__item__list > li {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 10px;

  .psychotypes__item__main__content {
    display: flex;
    justify-content: space-between;
    font-family: "Unbounded-lt", sans-serif;
    font-weight: 300;
  }

  p {
    width: 65px;

    &:first-child {
      width: 150px;
    }

    &:last-child {
      margin-right: 25px;
    }
  }

  button {
    width: 35px;
    height: 35px;
    background: var(--color-gray-secondary);
    border-radius: 10px;
    transition: all 0.2s ease;

    svg {
      color: #a8aaae;
      transition: all 0.2s ease;
    }

    &:hover {
      background: #d2cff8 !important;
      svg {
        color: var(--color-violet);
      }
    }
  }

  ul {
    font-size: 10px;
    display: flex;
    flex-direction: column;
    gap: 5px;
    margin-bottom: 10px;

    li {
      display: flex;
      gap: 10px;
      p {
        width: auto;

        &:first-child {
          text-align: right;
          width: 120px;
          opacity: 0.7;
        }

        &:nth-child(2) {
          opacity: 0.5;
          width: 70px;
        }
      }
    }
  }
}

.psychotypes__item__list__details {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  ul {
    li {
      p {
        &:last-child {
          margin-right: 60px;
        }

        &:nth-child(2) {
          width: 60px !important;
        }

        &:nth-child(1) {
          margin-right: 10px;
        }
      }
    }
  }
}

.psychotypes__item__select {
  width: 100%;

  select {
    width: 100%;
    padding: 10px;
    border-radius: 10px;
    appearance: none;
    background-color: var(--color-gray-secondary);
    background-image: url("../../assets/icons/map/chevron-down.svg");
    background-position: center;
    background-repeat: no-repeat;
    background-position-x: calc(100% - 10px);
    color: var(--color-black);
  }
}

.psychotypes__item__data {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 10px;

  div {
    width: 140px;
    display: flex;
    align-items: center;
    gap: 5px;
  }

  button {
    width: 35px;
    height: 35px;
    background: var(--color-gray-secondary);
    border-radius: 10px;
    transition: all 0.2s ease;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  p {
    font-size: 10px;
    opacity: 0.6;
  }
}

.psychotypes__item__list__sec {
  display: flex;
  flex-direction: column;
  margin-top: 10px;

  .psychotypes__item__list__item__main {
    display: flex;
    justify-content: space-between;
    gap: 10px;
    margin-top: 10px;

    p {
      &:first-child {
        width: 127px;
        text-align: left;
      }

      &:nth-child(2) {
        width: 60px;
      }

      &:last-child {
        width: 70px;
        text-align: left;
      }
    }
  }
}

.psychotypes__item__list__sec > li {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  // align-items: center;
  font-size: 12px;

  ul {
    display: flex;
    flex-wrap: wrap;
    gap: 5px;

    li {
      display: flex;
      align-items: center;
      gap: 2px;

      p {
        font-size: 10px;
        opacity: 0.6;
      }
    }
  }
}

.psychotypes__item__spec {
  width: 450px;
}

.psychotypes__item__top__data {
  display: flex;
  justify-content: end;
  align-items: center;
  gap: 25px;

  margin-right: 20px;
  margin-bottom: 10px;

  font-size: 12px;

  p {
    opacity: 0.6;
  }
}

.psychotypes__item__spec2 {
  width: 350px;
}

/* entertainment */

.entertainment {
  display: flex;
  justify-content: space-between;
  gap: 20px;
  margin-top: 40px;
}

.entertainment__item {
  display: flex;
  align-items: center;
  gap: 10px;

  flex: 1;

  background: var(--color-white);

  padding: 10px;
  border-radius: 20px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
  width: auto;

  ul {
    display: flex;
    flex-direction: column;
    gap: 10px;

    li {
      display: flex;
      align-items: center;
      gap: 5px;
    }
  }
}

.entertainment__item__sec {
  display: flex;
  flex-direction: column;
  padding: 30px;
}

.entertainment__title {
  width: 90%;
  font-size: 16px;
}

.entertainment__item__category {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 90%;

  h2 {
    width: 100%;
    text-align: left;
  }

  button {
    width: 35px;
    height: 35px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    background: none;

    transition: all 0.2s ease;

    &:hover {
      background: rgba(0, 0, 0, 0.05);
      border-radius: 5px;
    }
  }
}

.entertainment__item__category__name {
  display: flex;
  align-items: center;
  gap: 5px;
}
