@font-face {
  font-family: "Unbounded";
  src: local("../assets/fonts/Unbounded-Regular.ttf"),
    url("../assets/fonts/Unbounded-Regular.ttf") format("truetype");
}

@font-face {
  font-family: "Unbounded-sb";
  src: local("../assets/fonts/Unbounded-SemiBold.ttf"),
    url("../assets/fonts/Unbounded-SemiBold.ttf") format("truetype");
}
