@import "./reset";
@import "./vars";
@import "./fonts";

/* BASIC SETTINGS */
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
}

body {
  font-family: "Unbounded", sans-serif;
  font-weight: 400;
  font-size: 16px;

  background: var(--color-white);
  color: var(--color-black);

  overflow-x: hidden;
}

html {
  scroll-behavior: smooth;
  scroll-padding-block-start: 75px;
}

::-webkit-scrollbar {
  background: none;
  width: 5px;
}

::-webkit-scrollbar-thumb {
  background: var(--color-black);
  border-radius: 5px;
}

.page {
  margin-top: 10px;
}

.container {
  margin: 0 auto;
  max-width: 1380px;
  padding: 0 10px;
}

p,
h1,
h2,
h3,
h4,
h5,
h6,
a,
label,
button {
  font-family: "Unbounded", sans-serif;
  line-height: 140%;
}

ul,
li {
  list-style-type: none;
}

input {
  font-family: "Unbounded", sans-serif;
  font-weight: 400;
  font-size: 13px;
}

main {
    margin-bottom: 20px;
}

input::placeholder {
  font-family: "Unbounded", sans-serif;
  font-weight: 400;
  font-size: 13px;
}

.wrapper {
  display: flex;
  gap: 20px;
}

.main__side {
  width: 100%;
  // background: red;
}
